html, body {
  font-family: sans-serif; 
  font-size: 14px; 
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
}

h1 {
  font-family: serif, monospace; 
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: gold; 
}

a:link, a:visited {
  color: black; 
  outline: 0;
  text-decoration: none;
}

img {
  width: 30px;
}

header {
  align-items: center;
  border-bottom: 0.5px solid gold;
}

.desc {
  padding: 0 20px;
}

.icons {
  border-top: 0.5px solid gold; 
  height: 50px; 
  width: 100%;
  padding-top: 15px;
}

.icons ul {
  margin: 0px;
  padding: 0px; 
  text-align: center;
}

.icons ul li {
  display: inline-block;
  width: 40px; 
  height: 40px;
  text-align: center; 
  background: lightgoldenrodyellow; 
  border-radius: 100%;
  margin: 0, 10px;
  padding: 10px, auto;
}

.icons ul li a {
  display: block;
  color: black;
  font-size: 20px;
}

.icons ul li a i {
  line-height: 40px;
}

.icons ul li a:hover {
  color: gold; 
}

.logo {
  padding: 16px;
}

.waterloo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: darkgray; 
  font-size: 18px;
}